name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-mac:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: Run tests
        run: mvn clean test
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

  sonar-linux:
    runs-on: ubuntu-latest
    needs: build-mac  # run after tests succeed
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=eskil4152
            -Dsonar.projectKey=eskil4152_chatapp