name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Build and run tests
        run: mvn clean test
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=eskil4152
            -Dsonar.projectKey=eskil4152_chatapp
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}